BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman

PointerAlignment: Left

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

SpaceBeforeParens: ControlStatements

IndentCaseLabels: true
InsertBraces: true
SortIncludes: false